.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  background-color: rgba(white, 0.95);
  border-radius: 20px;
  width: 60vw;

  display: flex;
  justify-content: center;
}

.modal-foreground {
  padding: 1em;
  font-size: 1.5rem;
}
